{% extends 'index.html' %}

{% block content %}
    <!-- MAIN CONTAINER -->
    <div class="flex flex-col justify-center items-center">
        <div class="bg-[#F6B26B] flex flex-col items-center w-[80%] border border-black rounded-lg p-8 mt-4">
            <span class="text-center text-[#29363B] text-xl font-bold bg-[#FDE2C7] px-5 py-1 rounded-lg border border-black w-[30%]">About Parfume.</span>
            <div class="flex flex-col text-justify mt-5">
                <span>
                    Selamat datang di <strong>Parfume.</strong> solusi cerdas untuk menemukan parfum yang sesuai dengan kepribadian dan preferensi Anda. 
                    Kami memahami bahwa setiap orang memiliki selera unik dalam memilih parfum, dan itulah mengapa kami hadir untuk membantu Anda menemukan aroma yang sempurna.
                </span>
                <span class="my-5">
                    <strong>Parfume.</strong> menggunakan teknologi canggih untuk menganalisis dan merekomendasikan parfum yang sesuai dengan preferensi aroma Anda. Dengan antarmuka yang mudah digunakan, 
                    Anda dapat dengan cepat:
                    <ul class="list-disc list-inside">
                        <li class="font-medium">Memasukkan preferensi aroma favorit Anda.</li>
                        <li class="font-medium">Menemukan parfum terbaik dari berbagai merek ternama.</li>
                        <li class="font-medium">Melihat detail parfum, termasuk catatan top notes, middle notes, dan base notes.</li>
                        <li class="font-medium">Mengeksplorasi parfum serupa dalam kategori yang sama.</li>
                    </ul>  
                </span>
                <span>
                    Kami berkomitmen untuk memberikan pengalaman terbaik kepada pengguna tanpa memerlukan login, sehingga Anda dapat langsung menjelajahi dan menemukan parfum yang tepat dengan cepat dan mudah.  
                </span>
            </div>
        </div>
    <div>
    <!-- END OF MAIN CONTAINER -->
{% endblock %}